body {
  margin: 0;
}

.grid {
  display: grid;
  height: 100vh;
}
.skills {
  background: lightblue;
}
.projects {
  background: lightyellow;
}
.contact {
  background: lightgreen;
}
.about {
  background: pink;
}
.name {
  background: blue;
  font-family: 'Cutive Mono', monospace;
  /*font-family: 'Josefin Slab', serif;*/
}

@media only screen and (min-width : 480px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
  }
  .name {
    grid-column: 1/2;
  }
  .fa-file-image-o {
    font-size: 6rem;
    margin: 0 auto;
  }
  .skills {
    grid-column: 1/3;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 0.5rem;
    z-index: 0;
    overflow: hidden;
  }
  .skills:active {
    grid-row: 1/6;
    grid-column: 1/3;
    overflow: scroll;
    z-index: 2;
  }
  .skillBox {
    grid-column: 1/2;
    grid-row: span 1;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  .skillHeader {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .skillList {
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill);
    grid-gap: 1rem;
  }
  .exampleSkill {
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .projects {
    grid-column: 1/3;
    grid-row: 2/3;
    z-index: 0;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1rem auto 1rem;
    grid-template-rows: repeat(auto-fill);
    grid-row-gap: 1rem;
  }
  .projects:active {
    grid-column: 1/3;
    grid-row: 1/6;
    z-index: 2;
    overflow: scroll;
  }
  .projectBox {
    grid-column: 2/3;
    grid-row: auto;
    background: rgba(145, 245, 145, 1);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 7rem, auto;
  }
  .project {
    height: 20rem;
    grid-column: auto;
    grid-row: auto;
    background: url('./cat.jpg');
    background-size: cover;
  }

  .contact {
    grid-column: 1/3;
    grid-row: 4/5;
    z-index: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    overflow: hidden;
  }
  .contact:active {
    grid-row: 1/6;
    z-index: 2;
  }
  .contactItem {
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .contactMethod {
    margin: 0 auto;
  }
  .about {
    grid-column: 1/3;
    grid-row: 5/6;
    z-index: 0;
    overflow: hidden;
  }
  .about:active {
    grid-row: 1/6;
    z-index: 2;
    overflow: scroll;
  }
  .aboutText {
    font-size: 1.5rem;
  }
  .name {
    grid-column: 1/2;
    grid-row: 3/4;
    z-index: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
  }
  .nameDivider {
    display: inherit;
    font-size: 4rem;
  }
}

@media only screen and (min-width : 992px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  .grid {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .fa-file-image-o {
    font-size: 8rem;
  }
  .skills {
    grid-column: 1/3;
    grid-row: 1/3;
    display: grid;
  }
  .skills:hover {
    grid-column: 1/3;
    grid-row: 1/5;
    z-index: 2;
    overflow: scroll;
  }

  .projects {
    grid-column: 3/5;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 5rem auto 5rem;
    grid-template-rows: repeat(auto-fill);
    grid-row-gap: 5rem;
    overflow: scroll;
  }
  .projects:hover {
    grid-column: 2/5;
    grid-row: 1/4;
    z-index: 2;
  }

  .contact {
    grid-column: 1/3;
    grid-row: 3/5;
  }
  .contact:active {
    grid-row: 2/4;
    grid-column: 2/4;
    z-index: 2;
  }

  .about {
    grid-column: 3/5;
    grid-row: 3/5;
    background: purple;
    overflow: scroll;
  }
  .about:hover {
    grid-column: 2/5;
    grid-row: 2/5;
    z-index: 2;
  }

  .name {
    grid-column: 2/4;
    grid-row: 2/4;
    z-index: 1;
    flex-direction: column;
    margin: 0 auto;
  }
  .nameDivider {
    display: none;
    margin: 0 auto;
  }
  .subheader {
    margin: 0 auto;
  }
}
