/*** Basic site styling ***/

* {
  box-sizing: border-box;
  font-family: 'Helvetica', sans-serif;
}

body {
  margin: 0;
}

img {
  height: 100%;
  width: 100%;
}

.center {
  margin: 0 auto;
}


/*** Styling for site subsections ***/

#site_wrap {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: url('./img/jersey_city.jpg') no-repeat center center;
  background-size: cover;
}

#header {
  position: relative;
  height: 25%;
  width: 100%;
}

#box_examples {
  position: relative;
  height: 75%;
  width: 100%;
}


/*** Styling for common elements shared by both examples ***/

.example_area {
  position: relative;
  height: 100%;
  width: 50%;
  float: left;
  border: 1px solid black;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.parent {
  position: relative;
  height: 300px;
  width: 300px;
  background: url('./img/logo.jpg') no-repeat center center;
  background-size: cover;
  border: 1px solid black;
  margin: 0 auto;
}

.child {
  height: 100px;
  width: 100px;
  background: blue;
  border: 1px dotted black;
}


/*** Implementation-specific styling ***/

/* Margin implementation styling */

#margin_area {

}

#parent_box_margin {

}

#child_box_margin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* Flexbox implementation styling */

#flexbox_area {

}

#parent_box_flexbox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#child_box_flexbox {
  margin: 0 auto;
}
